:root {
    --blanco: #ffffff;
    --negro: #000000;
    --color-primario: #3eeb47;     
    --color-acento: #fdfa2c;
    --color-terciario: #15cdee;
    --color-secundario: #f97316;       
    --color-fondo: #e6b6b0;        
    --color-texto: #1c1917;        
    --radio-platillo: 12px;        
    --espaciado: 1.5rem;   
    --margenes: 20px;        
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, comic-sans-ms,cursive, sans-serif;
    margin: 0;
    padding: 2rem;
}

header {
    background-color: var(--color-primario);
    padding: var(--espaciado);
    text-align: center;
    border-radius: 20%;
    border-color: var(--color-secundario);
    border-width: 2px;
    border-style: solid;
    margin-bottom: var(--margenes);
}

nav a {
    color: var(--color-texto);
    text-decoration: none;
}

nav a:hover {
    color: var(--color-secundario);
}

nav{
    background-color: var(--color-acento);
    padding: var(--espaciado);
    text-align: center;
    border: 2px solid var(--color-secundario);
    margin-bottom: var(--margenes);
}

footer {
    background-color: var(--color-terciario);
    padding: var(--espaciado);
    text-align: center;
    border-radius: 20%;
    border-color: var(--color-secundario);
    border-width: 2px;
    border-style: solid;
    margin-top: var(--margenes);
}